#textInput {
    border: none;
    border-bottom: 3px solid aqua;
}
.userText {
    color: darkgreen;
    font-family: monospace;
    font-size: 14px;
    text-align: right;
    line-height: 30px;
	font-weight:bold;
}
.userText span {
    
    padding: 5px;
    border-radius: 10px;
}
.botText {
    color: darkred;
    font-family: monospace;
    font-size: 14px;
    text-align: left;
    line-height: 30px;
	font-weight:bold;
}
.botText span {
    padding: 5px;
    border-radius: 10px;
}